.task {
  padding: 1rem 0.5rem;
  user-select: none;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}
.new-task {
  input {
    width: 100%;
    height: 2rem;
    line-height: 1.5rem;
  }
  .control {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      padding: 0.25rem 1rem;
      color: #ffffff;
      border-radius: 0.25rem;
    }
    .save {
      background-color: green;
    }
    .cancel {
      background-color: red;
    }
  }
}
